{%- assign user = site.github.owner %}
{%- assign name = site.title | default: user.name | default: user.login %}
{%- assign user_img = site.user_image | default: user.avatar_url | default: "/assets/img/user-image.jpg" %}
{%- assign favicon = site.favicon | default: site.logo | default: "/assets/img/favicon.ico" %}
{%- assign header_icon = site.header_icon | default: "mark-github" %}

<header class="AppHeader position-sticky top-0 z-2 border-bottom topbar">
    <div class="AppHeader-item d-flex flex-justify-between p-2 flex-items-center mb-2">
        {%- if site.nav %}
        <div class="d-flex d-sm-none">
            {% include nav-overlay.html %}
        </div>
        {%- endif %}
        <div tabindex="-1" class="d-flex flex-1 ml-3" id="github-logo">
            <a href="{{ site.baseurl }}/" class="AppHeader-link d-flex flex-items-center no-underline mr-3 h1">
                {%- unless header_icon == "none" %}
                  {%- if header_icon == "favicon" %}
                <img src="{{ favicon | relative_url }}" alt="" width="24" height="24" class="mr-2" />
                  {%- else %}
                <span class="octicon octicon-{{ header_icon }}-24"></span>
                  {%- endif %}
                {%- endunless %}
                <span class="h3 text-semibold{% unless header_icon == "none" %} mx-3{% endunless %}">{{ name }}</span>
            </a>
            <span class="d-none d-sm-block flex-content-center ml-2">
            {% include version-selector.html %}
            </span>
        </div>
        <div class="AppHeader-item d-flex flex-items-center">
            {% include toggle.html %}
            {%- if site.repo_info and site.repository %}
            <div class="AppHeader-item hide-sm">
                {% include mini-repo-info-card.html class="AppHeader-link no-underline" %}
            </div>
            {% endif %}
            {%- if site.profile_link %}
            <div class="AppHeader-item mr-0">
                <a href="https://github.com/{{ user.login }}" class="AppHeader-link d-flex flex-items-center">
                    <img class="avatar img-cover circle" height="32" width="32" alt="{{ name }}"
                src="{{ user_img | relative_url }}">
                </a>
            </div>
            {%- endif %}
        </div>
    </div>
    <div class="d-flex flex-items-center">
        {%- if site.nav %}
        <div class="AppHeader-item width-full hide-sm">
            {%- include navbar-underline.html %}
        </div>
        {%- endif %}
    </div>
</header>
