{%- assign versions_enabled = false -%}
{%- if site.versions and site.versions != empty -%}
{%- assign versions_enabled = true -%}
{%- endif -%}
{%- if site.versions and site.versions.enabled != nil -%}
{%- assign versions_enabled = site.versions.enabled -%}
{%- endif -%}
{%- if page.versions and page.versions.enabled != nil -%}
{%- assign versions_enabled = page.versions.enabled -%}
{%- endif -%}
{%- assign versions_json = site.versions.config | default: "/versions.json" -%}
{%- assign versions_prefix = site.versions.prefix | default: "" -%}
{%- unless versions_enabled -%}
{%- assign versions_json = "" -%}
{%- assign versions_prefix = "" -%}
{%- endunless -%}
